html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at center, #f5f5f5 0%, #cccccc 100%);
}

#container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 2);
    background-color: black;
    padding: 12px;
    padding-bottom: 14.5px;
}

#display {
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: 48px;
    padding-bottom: 4px;
    font-size: 64px;
    overflow: hidden;         
    white-space: nowrap;     
    color: white;
}

.inner {
    display: flex;
    flex: 1;
    width: 100%;
}

button {
    width: 100%;
    margin: 2.5px;
    border-radius: 16px;
    color: white;
    font-size: 40px;
    background-color: rgb(80, 80, 80);
    border: none;
    outline: none;
}

button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

button:active {
      filter: brightness(70%);
}

#clear, #del {
    color: black;
    background-color: rgb(212, 212, 212);
}

.operator {
    background-color: rgb(255, 149, 0);
}
